.section_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 5px;
}
.section_title a{
	font-size: 12px;
	color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}
.nav>li>a{
	padding: 3px 5px;
}
.nav>li>a:hover{
	color: black;
	font-weight: bold !important;
}
.nav-tabs{
	display: flex;
	border: none !important;
}
.project_list{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.project_container{
	background-color: grey;
    width: 33%;
}
.project{
	width: 100%;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}
.project>img, .has_no_image{
	width: 100%;
}
.has_no_image{
	border: 2px solid #225178;
}
.project_title{
	margin: 0px;
    position: relative;
    left: -100px;
    top: 80px;
}