.drp_label{
	color: #00adf4;
	display: flex;
	flex-flow: column;
	text-align: end;
    padding-right: 5px;
    font-size: 12px;
}
.notification_container{
	color: #fff;
}
.notification_body{
	padding: 5px;
}