<!-- Folowing stuff goes here -->
<div class="following">
	<div class="following_header">
		<h4>FOLLOWING</h4>

		<!-- TODO: Replace wth menu thing -->
		<span class="hamburger_menu"></span>
	</div>
		
	<div *ngFor="let following of following_activity">
		<div class="following_name">{{following.firstName}} {{following.lastName}}</div>

		<div class="following_activity">
			<img class="following_image" src="{{following.profile_image}}" />
			<div class="activity">
				<div *ngIf="following.latest_post.image != ''">
					
					<ul class="post_image" *ngIf="following.latest_post.photos_count > 1">
						<li *ngFor="let post_image of following.latest_post.image">
							<img src="app/followers/img/{{post_image}}">
						</li>
					</ul>

					<div *ngIf="following.latest_post.photos_count == 1">
						<img *ngFor="let post_image of following.latest_post.image" class="singleImage" src="app/followers/img/{{post_image}}">
					</div>
				</div>
				
				<div>
					<div class="post_text text_only" *ngIf="following.latest_post.image == ''">
						{{following.latest_post.post_caption}}
					</div>
					
					<div class="post_text with_image" *ngIf="following.latest_post.image != ''">
						{{following.latest_post.post_caption}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>