/* Following styles */
.following{
	width:25%;
}
.following_header{
	background-color: #322f31;
	color: white;
	width: 98%;
}
.following_header h4{
	padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.following_activity{
	display: flex;
    flex-direction: column;
}
.following_name{
	background-color: #00e1b5;
	width: 97%;
    margin-left: 3px;
}